.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Form {
  height: 1000px;
  width: 100%;
  color: white;
  background-color:black;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.myButton{
  width: 150px;
  height: 20px;
}

.input{
  margin-bottom: 25px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.formicField{
  display: flex;
  flex-direction: column;
  background: purple;
  width: 100%;
  height: 100%;
}

.correctGuess{
  color: green;
  
}

.parentDiv{
  width: 100%;
  height: 500px;
}